<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" 
	version="2.4">

	<display-name>SAI_CAS Application</display-name>
	<description>
		The web application providing access to the catalogues
	</description>

	<servlet>
		<servlet-name>ConeSearchServlet</servlet-name>
		<servlet-class>sai_cas.servlet.ConeSearchServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CrossMatchServlet</servlet-name>
		<servlet-class>sai_cas.servlet.CrossMatchServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>SQLQueryExecutorServlet</servlet-name>
		<servlet-class>
			sai_cas.servlet.SQLQueryExecutorServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ConeSearchServlet</servlet-name>
		<url-pattern>/ConeSearch</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ConeSearchServlet</servlet-name>
		<url-pattern>/conesearch</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CrossMatchServlet</servlet-name>
		<url-pattern>/CrossMatch</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CrossMatchServlet</servlet-name>
		<url-pattern>/crossmatch</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/Upload</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SQLQueryExecutorServlet</servlet-name>
		<url-pattern>/SQLQueryExecutor</url-pattern>
	</servlet-mapping>

<!-- 	<resource-env-ref>
		<description>The resource for PerUser connection pool</description>
		<resource-env-ref-name>jdbc/postgresPerUser</resource-env-ref-name>
		<resource-env-ref-type>org.apache.tomcat.dbcp.dbcp.datasources.PerUserPoolDataSource</resource-env-ref-type>
	</resource-env-ref>
-->
<!--  	<resource-ref>
		<description>PostgreSQL Datasource example</description>
		<res-ref-name>jdbc/postgres</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>-->

</web-app>
